.maillist {
    .bp3-tab {
        font-size: 20px;
        ;
    }

    .bp3-tabs {
        .bp3-tab-list {
            margin-left: 15px;
            margin-top: 5px;
        }
    }

    .bp3-tab-indicator-wrapper {
        .bp3-tab-indicator {
           // background: none;
        }
    }
}